<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.solvendo.daily-problems</string>
    <key>ProgramArguments</key>
    <array>
        <string>__PYTHON__</string>
        <string>__SCRIPT__</string>
        <string>run-scheduled</string>
        <string>--schedule-hour</string>
        <string>9</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__REPO_ROOT__</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/go/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>PYTHONDONTWRITEBYTECODE</key>
        <string>1</string>
        <key>TZ</key>
        <string>Africa/Cairo</string>
    </dict>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__STDOUT_LOG__</string>
    <key>StandardErrorPath</key>
    <string>__STDERR_LOG__</string>
</dict>
</plist>
